.App {
  font-family: sans-serif;
  text-align: center;
}
.input {
  width: 400px;
  padding: 5px;
}

.results-container {
  border: 1px solid black;
  width: 400px;
  margin: auto;
  max-height: 300px;
  overflow-y: scroll;

  padding: 5px;
}
.results {
  display: block;
  text-align: left;
  padding: 3px;
}
